@()(implicit request: RequestHeader)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


	<!-- General meta information -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="index, follow" />
	<meta charset="utf-8" />
	<!-- // General meta information -->
	
	
	<!-- Load Javascript -->
	<script type="text/javascript" src="/assets/javascripts/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/assets/javascripts/game.js"></script>
	<!-- // Load Javascipt -->

	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
<script>	
	function writeToScreen(message) {
		var pre = document.createElement("p");
		var status = document.getElementById("status");
		pre.style.wordWrap = "break-word";
		pre.innerHTML = message + " " + new Date();
		status.appendChild(pre);
	}

	$(document).ready(function(){
		
	writeToScreen("Bla asd")
	
	
	$("#submitButton").on("click", function(event) {
		event.stopPropagation();
	    var playerName = $('#nickname').val()
	    sessionStorage.name = playerName
	    window.open("game.html","_self")	
	});
	
	$("#FacebookLoginButton").on("click", function(event) {
	    //window.open("facebookPlay.html","_self")
	});
 	});


</script>	
</head>
<body>
	<script>
  		window.fbAsyncInit = function() {
   	 		FB.init({
      		appId      : '579389315550357',
      		xfbml      : true,
      		version    : 'v2.5'
    	});
  		};

  		(function(d, s, id){
     		var js, fjs = d.getElementsByTagName(s)[0];
     		if (d.getElementById(id)) {return;}
     		js = d.createElement(s); js.id = id;
     		js.src = "//connect.facebook.net/en_US/sdk.js";
     		fjs.parentNode.insertBefore(js, fjs);
   		}(document, 'script', 'facebook-jssdk'));
  		
  		FB.getLoginStatus(function(response) {
  		  if (response.status === 'connected') {
  		    //console.log('Logged in.');
  		    alert("logged in");
  		  }
  		  else {
  		    FB.login();
  		  }
  		});
	</script>
	
	<input type="text" name="link" id="nickname" value="Nickname" onclick="this.value = ''">
	<input type="submit" value="Play as guest" id="submitButton" />
	<button type="button" id="FacebookLoginButton">Login by Facebook</button>
	<p id="status"></p>
</body>
</html>