body {
	overflow:hidden;
}
.button-section{
    width:1200px;
	margin-left:580px;
	margin-bottom:5px;
	margin-top:30px;
}

#map { 
	margin-top:15px;
    height:400px;
	width: 1200px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #45619d;
	margin-left:auto;
	margin-right:auto;
}

.roomDescription {
	width:1200px;
	height:20px;
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
	color:#89ca69;
	margin-left:auto;
	margin-right:auto;
}